<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Vegga</title>
  <meta name="title" content="Vegga">
  <meta name="description" content=".">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="main.css">

  <!-- 
    - google font link
  -->
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">


  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="hero-banner.png">

</head>

<body>
<%- include('parts/nav') %>


  <main>
    <article>



      <!-- 
        - #APP
      -->
<div><br><br><br><br><br></div>
      <section class="app" aria-label="app">
        <div class="container">

          <div class="app-card bg-gray">

            <div class="card-content">

              <h2 class="h2 section-title">Serial Number </h2>

              <p class="section-text">
                <%= serialNo %>
              </p>

              <div class="btn-group">

                <a href="/<%= serialNo %>.png" class="btn btn-primary" download>
                  <ion-icon name="download-outline" aria-hidden="true"></ion-icon>

                  <div>
                    <p class="btn-text">.png</p>

                    <p class="btn-title">Download</p>
                  </div>
                </a>


              </div>

            </div>

            <figure class="card-banner">
              <img src="/<%= serialNo %>.png" alt="QR Code" width="383" height="384" loading="lazy"
                 class="w-100">
            </figure>

          </div>

        </div>
      </section>

    </article>
  </main>





<%- include('parts/footer2') %>





  <!-- 
    - custom js link
  -->
  <script src="script.js" defer></script>

  <!-- 
    - ionicon-link
  -->
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>